* {
  margin: 0;
  padding: 0;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: whitesmoke;
}

body > header {
  text-align: center;
  height: 13vh;
}

body > header > hgroup {
  background-color: hsl(139.09deg 22.92% 18.82%);
  color: rgba(239, 239, 239, 0.9);
  padding: 1.2em 1em;
}

body > header > hgroup > h1 {
  font-size: 2.4em;
  letter-spacing: 0.03em;
}

body > header > hgroup > h2 {
  font-size: 1.3em;
  font-weight: 400;
  margin-top: 0.4em;
}

nav {
  display: flex;
  justify-content: center;
  gap: 6em;
  padding: 0.8em 2em;
  background-color: hsla(142, 25%, 17%, 0.9);
}

nav a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: opacity 0.2s ease;
}

nav a:hover {
  opacity: 0.7;
}

main {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 3em;
  margin: 0 auto;
}

article {
  overflow: scroll;
}

aside {
  background-color: #e6e6e6;
  padding: 1.8em;
  border-radius: 8px;
  height: 4em;
}

aside h4 {
  color: hsl(139.09deg 22.92% 18.82%);
}

aside p {
  font-size: 0.95em;
  margin-top: 0.7em;
}

dialog {
  position: fixed;
  inset: 0;
  margin: auto;
  padding: 1.5em 2em;
  border-radius: 7px;
  border: none;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

dialog button {
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 5px;
  background-color: hsl(139.09deg 22.92% 18.82%);
  color: white;
  cursor: pointer;
  font-size: 0.9em;
}

dialog button:hover {
  opacity: 0.85;
}

dialog p {
  margin: 0.7em;
}

dialog form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

body > footer {
  text-align: center;
  height: 4.5vh;
  background-color: hsl(139.09deg 22.92% 18.82%);
  color: rgba(239, 239, 239, 0.9);
  padding: 1em;
  font-size: 1em;
}
