* {
  margin: 0;
  padding: 0;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: whitesmoke;
}

body > header {
  text-align: center;
  height: 13vh;
}

body > header > hgroup {
  background-color: hsl(139.09deg 22.92% 18.82%);
  color: rgba(239, 239, 239, 0.9);
  padding: 1.2em 1em;
}

body > header > hgroup > h1 {
  font-size: 2.4em;
  letter-spacing: 0.03em;
}

body > header > hgroup > h2 {
  font-size: 1.3em;
  font-weight: 400;
  margin-top: 0.4em;
}

nav {
  display: flex;
  justify-content: center;
  gap: 6em;
  padding: 0.8em 2em;
  background-color: hsla(142, 25%, 17%, 0.9);
}

nav a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: opacity 0.2s ease;
}

nav a:hover {
  opacity: 0.7;
}

main {
  margin-top: 2em;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

article {
  overflow: scroll;
}

aside {
  height: 100vh;
  background: fixed;
  border-left: 1px solid #888;
  background-color: rgb(202, 202, 202);
  text-align: center;
}

aside > h4 {
  margin-top: 0.7em;
}

aside > p {
  margin: 0.7em;
}

dialog {
  position: fixed;
  inset: 0;
  margin: auto;
  padding: 5px;
}

dialog p {
  margin: 0.7em;
}

dialog form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

body > footer {
  text-align: center;
  height: 4.5vh;
  background-color: hsl(139.09deg 22.92% 18.82%);
  color: rgb(239 239 239 / 88%);
  font-size: 1.13em;
  padding: 0.3em;
}
